.header {
  position: relative;
  margin-bottom: 56px;

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
//   &.nav__visible {
//     .primaryNav {
//         display: block;
//     }
//   }
}

.logo__wrap {
  width: 100px;
}

.logo__link {
  display: inline-block;
  &:focus {
    outline: 1px dotted $primary-100;
  }
}

.primaryNav {
  li a {
    color: $white;
    font-family: $secondary-family;
    font-size: clamp(1.5rem, 3vw, 2.75rem);
    font-weight: 600;
    &:hover,
    &:focus {
      color: $primary-200;
    }
  }
  @media #{$phone}{
    display: none;
  }
}
